
@font-face {
    font-family: Ogg-Roman;
    src: url(../fonts/Ogg-Roman.otf)format("opentype");
}


@font-face {
    font-family: Ogg-Italic;
    src: url(../fonts/Ogg-Italic.otf)format("opentype");
}

@font-face {
    font-family: NewYorkExtraLargeBold;
    src: url(../fonts/NewYorkExtraLargeBold.otf)
}

@font-face {
    font-family: qingke;
    src: url(../fonts/方正清刻本悦宋简体.TTF)
}

@font-face {
    font-family: chinesemain;
    src: url(../fonts/ntailu.ttf)
}

@font-face {
    font-family: chinesemainbold;
    src: url(../fonts/ntailub.ttf)
}



body{font-family:"chinesemain";}
a {color: #242424;}
a:hover{color:#242424;text-decoration:none}
canvas { width: 100%; position:absolute;z-index:1;top:0;left: 0; }




#cubeimg {display: block;}

.logo-text{font-family:"Ogg-Roman";font-weight: 200 !important;}
#line{
    border-bottom: 1px solid #000000;
}
.navbar-portfolio {padding:0 24px;}
.navbar-portfolio h6{margin: 0px;color: rgba(0, 0, 0, 0.4);}
.now h6{color: #000000;}
.navbar-portfolio:hover h6{color:rgba(0, 0, 0, 0.9);}
@media (max-width: 1024px){.navbar-portfolio{display: none;}}

.nav-link-portfolio{display:none; padding:0 10px !important;line-height: 1.2;}
.nav-link-portfolio a span{font-size: 14px;color:rgba(255,255,255,0.6);font-weight: 400;}
@media (max-width: 1024px){.nav-link-portfolio{display:block}}

.mob-header .navbar-brand a{color:#C23120;font-weight:700}
.mob-header.dark .navbar-brand a{color:#353535}

.home-banner-01 .ht-text h1 {
    margin-bottom: 6px;
}



.px-btn.black{color:#242424;background:#ffffff00}
.px-btn.black:before{border-color: #242424;border-right:transparent;}
.px-btn.black:hover{color:#ffffff}
.px-btn.black:hover:before{background:#749395;width:100%;border-color:#749395;color:#ffffff}


.cubeposition{position:absolute;top:16.97vh;right:9.72vw}
@media (max-width: 991px){.cubeposition{top:14vh;right:-2vw}}
@media (max-width: 767px){.cubeposition{top:9vh;right:1vw}}


.contactme{position:absolute; top:480px;font-family:'Ogg-Roman';left: 13.2vw;z-index:5;}
@media (max-width: 991px){.contactme{top:380px;left: 7vw;}}
@media (max-width: 767px){.contactme{top:70vh;left: 11vw;}}

.home-banner-01 .ht-text {
    color: #242424;
    max-width: 600px;
}


.about-text p {
    font-size: 14px;
    max-width: 1000px;
}


.about-text h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.about-text h3 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 15px;
    font-family:"NewYorkExtraLargeBold";
}

.about-list label {
    color: #242424;
    font-family: chinesemainbold;
    font-weight: 600;
    width: 95px;
}


.aboutmecontainer{margin-left: 5.56vw;margin-right: 9.03vw;}


@media (min-width: 1200px){.aboutmecontainer{max-width: 84vw;}}
@media (max-width: 1025px){.aboutmecontainer{margin-left: 1vw;}}


.skill-section .dark-color {font-size: 14px;font-weight: 400;letter-spacing:2px; color: #000000; }
.skill-section .dark-color span{font-size: 12px;font-weight: 400;color: #71797A;padding-left: 1.25vw;letter-spacing: 0px;}

.titlewoo{
    font-size: 44px;
    letter-spacing:4px;
    font-weight: 700;
    margin: 0 0 15px;
    font-family:"NewYorkExtraLargeBold";
    color: #242424;
}
.titlewoosmall{
    font-size: 14px;
    letter-spacing:2px;
    font-weight: 200;
    line-height: 18px;
    font-family:"chinesemain";
    color: #242424;
}
.portfoliotitleinto{background-image: url(../img/titlearrow.png); background-repeat:no-repeat;padding-top: 30px;margin-left: 250px;-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}
.portfoliotitle:hover .portfoliotitleinto{
    background-image: url(../img/titlearrowred.png);margin-left: 255px;}

#portfoliotitlesmall{display: block;} #portfoliotitlearrow{display:none;}

.titlewoosmallbox{padding-top:26px;}
@media (max-width: 1024px){.titlewoosmall{font-size: 12px;}}
@media (max-width: 768px){.titlewoosmallbox{padding-top:0px;margin-top: -40px;padding-left: 12vw;}}
@media (max-width: 426px){.titlewoosmallbox{padding-top:0px;margin-top: -40px;padding-left: 6vw;}
                            #portfoliotitlesmall{display: none;} #portfoliotitlearrow{display: block;}}


.titlewooright {
    margin-right:-36px ;text-align:right;margin-bottom: -120px;margin-left:-100px
}
.titlewooleft {
    margin-left:-36px;
}

.titlewoocenter{text-align:right}
@media (max-width: 426px){.titlewoocenter{padding-left:4vw;text-align:left;}}


.aboutbox{padding-left: 7vw;padding-right: 0px;}
@media (max-width: 991px){.aboutbox{padding-left: 6vw;padding-right: 12vw;padding-top: 20px;}}

.skillbox{
    padding-left: 6vw;
    padding-right: 4vw;
    padding-bottom:80px;
}
@media (max-width: 991px){.skillbox{padding-left: 8vw;padding-right: 10vw;padding-bottom:0px;}}
@media (max-width: 767px){.skillbox{padding-left: 13vw;padding-right: 8vw;}}

.hobbybox{
    padding-right: 6vw;
    padding-left: 4vw;
    padding-top:40px;
}
@media (max-width: 991px){.hobbybox{padding-left: 10vw;padding-right: 10vw;padding-top:0px;}}
@media (max-width: 767px){.hobbybox{padding-left: 30vw;padding-right: 15vw;}}


.progress span {
    top: -25px;
}
.skill-section{padding-bottom: 100px;padding-top: 100px;}

.hobbies{padding:0px;display: block;}
.hobbies h6{padding-top:12px;padding-bottom:7px; font-size: 18px;color: #000000;margin-bottom: 0px;}
.hobbies .textboder{padding-bottom:10px; font-size: 30px;color:#FCFCFC;margin-bottom: 0px;font-weight: 800;font-family: "chinesemainbold";
    -webkit-text-stroke: 0.8px #71797A;}


.about-section{background-size:cover;background-position:50% center;position:relative}
.skill-section{background-size:cover;background-position:80% center;position:relative}
.portfolio-section{background-size:cover;background-position:30% center;position:relative}

.portfoliotitle{max-width: 100%;}
.portfolio-section{padding-bottom: 60px;}
.portfolio-section h4{color:#C23120;font-size: 18px;font-weight: 800;letter-spacing:1px;}
.portfolio-section h6{color:#242424;font-size: 14px;font-weight: 200;line-height: 24px;}
.portfolio-section p{color:#71797A;font-size: 10px;font-weight: 200;margin-bottom: 0px;bottom:0px;position: absolute;line-height: 10px;}
.legoimg{height:162px;margin-bottom:30px;}

.portfolio-section .container{padding-right: 132px;padding-left: 132px;}
@media (max-width: 426px){.portfolio-section .container{width:60%}}
.por-item{padding:0 2.77vw;border-right: 1px solid #74939530;}
.por-works{height:234px;-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}
.por-image{margin-bottom: 11px;width:100%;overflow: hidden;}
.por-image img{-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.portfolioarrow{background-image: url(../img/portfolioarrow.png);padding-left: 55px;margin-left:9vw;background-size:cover;margin-top: -20px;-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}


.por-works:hover .portfolioarrow{
    background-image: url(../img/portfolioarrowred.png);padding-left: 60px;
}
.por-works:hover .por-image img{
    -webkit-transform: scale(1.08);
			transform: scale(1.08);}

            
.px-btn-arrow{padding:0 50px 0 0;line-height:20px;position:relative;display:inline-block;color:#191b13;-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}
.px-btn-arrow:hover{color:#C23120}

.content-box-title {color:rgba(255, 255, 255, 0.6);font-size: 14px;font-weight: 200;}

.content-box .content-box-icon span{color:rgba(255, 255, 255, 0.6);}



.content-box:hover .link{color:#ffffff}
.link{-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}
.content-box:hover .link-icon{filter: drop-shadow(#fff 0 0);}
.link-icon{-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}


.btn-small {
    font-size: 0.75rem;
    padding-top: 7px;
    color: #fff;
    background-color: #F7CD58;
    border-color: #F7CD58;
}

.btn-big {
    font-size: 1.75rem;
    font-weight: 600;
    padding:14px 20px 10px 20px;
    line-height: 1;
    color: #fff;
    background-color: #7152E1;
    border-color: #7152E1;
}

.disabled {
    pointer-events: none;
    opacity: 1 !important;
  }

.section-title h2:after{display:none !important;}


.list-style-disc li:before{
    content: url("../img/disc.svg");
}

.list-style-disc2 li:before{
    content: url("../img/disc2.svg");
}

.centered-and-cropped {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 780px;
    height: auto;
    max-height: 720px;
}

.centered-and-cropped span {
    display: block;
    background-image: url(../img/point.png);
    background-repeat: no-repeat;
    position:absolute;
    top:270px;
    left:180px;    
}


.nextpage{padding:1rem 4.5rem;background-color: #7152E1;}

.nextpage a{
    font-size: 1.125rem;
    font-weight: 600;
    color:rgba(255, 255, 255, 0.8)
}

.next{text-align: end;}
.next a{color:rgba(255, 255, 255, 1);-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}
.next a:hover{margin-right:-0.3rem;}

.previous{text-align: start;}
.previous a{-moz-transition:ease all 0.3s;-o-transition:ease all 0.3s;-webkit-transition:ease all 0.3s;transition:ease all 0.3s}
.previous a:hover{color:rgba(255, 255, 255, 1);margin-left:-0.3rem;}

.color-black{color: #000000 !important;}
.color-dark{color: #818181 !important;}
.color-bearpa-purple1{color: #7152E1;}
.color-bearpa-purple2{color: #9D96AB;}
.color-bearpa-yellow{color: #F7CD58;}
.font12{font-size: 0.75rem;}
.font14{font-size: 0.875rem;}
.font18{font-size: 1.125rem;}
.font24{font-size: 1.5rem;}
.fontbold{font-weight: 600;}


